*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 .navigation #i2
 {
     display: none;
 }
 
 .navigation
 {
     width: 100vw;
     height: 60vh;
     background-image: url("back_ground_2.jpg");
     background-repeat:no-repeat;
     background-size: 100% 60vh;
     /* filter: grayscale(50%); */
     /* position: sticky; */
 }
 
 .navigation nav 
 {
     display: flex;
     flex-direction:row;
     position: relative;
 }
 
 .navigation #nav_i1
 {
     width: 100vw;
     background: rgba(0, 0, 0, 0.336);
     height: auto;
     padding: 10px;
     position: fixed;
     display: flex;
     justify-content: center;
     text-align: center;
     align-items: center;
     flex-direction: row;
     flex-wrap: wrap;
     top: 0%;
     transition: all 1s;
     z-index: 11;
     list-style: none;
 }
 
 .navigation #nav_i1 li
 {
     position: relative;
     /* top: 40%; */
     padding: 0 30px;
 }
 
 .navigation #nav_i1 li a
 {
     font-size: 25px;
     color: white;
 }
 
 .navigation nav ul
 {
     display: flex;
     flex-direction: row;
     list-style: none;
     margin: 5% 5%;
 }
 
 .navigation nav ul li
 {
     padding: 0 30px;
 }
 
 .navigation nav ul li a
 {
     text-decoration: none;
     font-size: 25px;
     color: rgb(255, 255, 255);
     transition: all 1s;
 }
 
 .navigation nav ul li a::before
 {
     content: "";
     position: absolute;
     bottom: 40%;
     width: 8%;
     height: 2px;
     background: red;
     animation: anim1 infinite 1s linear ;
     border-radius:20px ;
     box-shadow: 5px 3px 7px red;
 }
 
 @keyframes anim1 {
     0%{
         width: 0%;
     }
     50%{
         width: 4%;
     }
     100%{
         width: 8%;
     }
 }
 
 .navigation nav ul li a:hover,
 .navigation #nav_i1 li a:hover
 {
     color: rgb(7, 63, 216);
     text-shadow: 5px 5px 6px rgb(7, 63, 216) ;
 }
 
 .navigation .text
 {
     display: flex;
     justify-content: center;
     text-align: center;
     align-items: center;
     flex-direction: column;
     flex-wrap: wrap;
 }
 
 .navigation #i1
 {
  
     font-size: 80px;
    
     color: rgb(9, 170, 245);
 }
 .navigation span
 {
    
     font-size: 50px;
   
     color: rgb(2, 1, 1);
     color-interpolation-filters: linearRGB;
 }


 .login_Form
 {
     width: 100vw;
     display: flex;
     justify-content: center;
     text-align: center;
     align-items: center;
     position: relative;
     flex-direction: column;
 }


 .login_Form .box_login #Login_i1
 {
    font-size: 50px;
    margin: 50px 0;
    color: rgb(9, 170, 245);
 }

 .login_Form .container
{
position: relative;
width: 400px;
margin: 50px;
/* min-height: 400px; */
background: rgba(255,255,255,0.1);
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
backdrop-filter: blur(5px);
box-shadow: 10px 10px 30px rgba(5, 2, 2, 0.567);
border: 1px solid rgba(107, 55, 55, 0.5);
border-right: 1px solid rgba(107, 55, 55, 0.2);
border-bottom: 1px solid rgba(107, 55, 55, 0.2);
}

.form
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}

.form .inputBox
{
    width: 100%;
    margin-top: 20px;
}


.form .inputBox input
{
    width: 100%;
    background: rgba(107, 55, 55, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(107, 55, 55, 0.5);
    border-right: 1px solid rgba(107, 55, 55, 0.2);
    border-bottom: 1px solid rgba(107, 55, 55, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: black;
    box-shadow: 0 5px 5px rgba(0,0,0,0.05);
}
.form .inputBox input::placeholder
{
    color:black;
}
.form .inputBox input[type="submit"]
{
    background: tomato;
    color:white;
    max-width: 150px;
    cursor: pointer;
    margin-bottom: 15px;
    font-weight: 600;
    border-radius: 7px;
}

.forget
{
    color:black;
    font-size: 16px;
    padding: 5px;
    font-weight: 800;
}
.forget a
{
    color:blue;
    text-decoration: none;
    font-size: 16px;
}
@keyframes anim
{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(80%);
    }
}


.Foot
{
    display:  block;
    width: 100%;
    height: 30px;
    background-color: rgba(7, 6, 6, 0.404);
    position: fixed;
    bottom: 0;
    transition: all 1s;
}

.Foot:hover
{
    height: 105px;
}

 .Foot footer
{
    padding: 35px 0;
    width: 100%;
    height: 105px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 40px;
}

.Foot footer a:nth-child(1)
{
    width: 30px;
    color: blue;
    
}
.Foot footer a:nth-child(2)
{
    width: 30px;
    color: rgb(179, 27, 52);
    margin: 0 50px;
}

.Foot footer a:nth-child(3)
{
    width: 30px;
    color: skyblue;
   
}